################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArchiveTrackService/bin/Debug/netcoreapp3.1
/ArchiveTrackService/obj
